.chores {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkolivegreen;
}

h3 {
    text-decoration: underline;
}

ul {
    font-style: italic;
}